<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">
                <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/harry.png"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/harry.png"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>

            <div class="social">
                <a href="https://www.twitter.com/iorme" target="_blank"><i class="fa fa-twitter"></i></a>
                &nbsp;.&nbsp;
                <a href="https://www.facebook.com/iorme" target="_blank"><i class="fa fa-facebook"></i></a>
                &nbsp;.&nbsp;
                <a href="https://www.github.com/iorme" target="_blank"><i class="fa fa-github"></i></a>
                &nbsp;.&nbsp;
                <a href="https://www.instagram.com/iorme" target="_blank"><i class="fa fa-instagram"></i></a>
                &nbsp;.&nbsp;
                <a href="http://www.linkedin.com/in/hyunanto" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
        </header>
    </section>
</div>
